{% extends 'base.html.twig' %}

{% block title %}RewriteRule Generator{% endblock %}

{% block stylesheets %}

    <style>
        h1 {
            text-align: center;
        }
        .btn {
            display: block;
            text-align: center;
            padding: .5rem;
            color: #fff;
            margin: 1rem 0;
            font-size: 20px;
            outline: none;
            border: none;
            text-transform: uppercase;
            text-decoration: none;
        }

        .btn.btn--blue {
            background: #2a74fb;
            display: inline-block;
        }

        .btn.btn--green {
            background: #00bf81;
        }

        .description {
            text-align: center;
        }

        .form--box {
            background: #f9f9f9;
            width: 500px;
            padding: 1rem;
            margin: 3rem auto;
            border-radius: 10px;
        }

        #csv_options {
            display: inline-block;
        }

        #csv_rewrite_engine {
            float: left;
        }

        .form--headline {
            font-size: 22px;
        }

        .has--error {
            border: 2px solid red;
            padding: .5rem;
            display: block;
            color: red;
            border-radius: 5px;
        }
    </style>

{% endblock %}

{% block body %}

    <h1>RewriteRule Generator</h1>

    <p class="description">Upload a CSV File with your RewriteRules in the following format: <strong>/old-url;/new-html</strong><br></p>
    <p class="description">If all went good, your download link will appear below the form</p>

    <div class="form--box">

        {% if error %}
            <p class="has--error">Error: {{ error }}</p>
        {% endif %}

        {{ form_start(form) }}
            <p class="form--headline">Upload your CSV file here:</p>
            {{ form_widget(form.csv_file) }}


            <p class="form--headline">Additional options:</p>
            {{ form_widget(form.options) }}
            {{ form_widget(form.custom_status_code) }}
            <label for="csv_rewrite_engine">Include RewriteEngine On</label>
            {{ form_widget(form.rewrite_engine) }}

            <button type="submit" class="btn btn--green">Upload</button>
        {{ form_end(form) }}

        {% if filename %}
            <a class="btn btn--blue" href="{{ path('app_download', {'filename': filename}) }}">Download TXT</a>
        {% endif %}
    </div>

{% endblock %}
